*, html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1e1e1e;
}
#headerwrap {
    background-color: #140000;
}
#titleWrap {
    text-align: center;
    color: #BF0603;
    margin-bottom: 3%;
}
#navWrap {
    margin-left: 2%;
    text-align: center;
}
.navbutton {
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    background-color: #140000;
    padding-right: 10px;
    padding-left: 20px;
    font-family: "Garamond", serif;
    font-size: 14px;
    color: #86918d;
    text-align: center;
}
.navbutton:hover {
    cursor: pointer;
    background-color: #BF0603;
    color: #89cfe8;
    transition: 1s;
}
.quote {
    font-style: oblique;
    font-family: "XanhMono";
    font-size: 90%;
    color: #A1A6B4;
}

@font-face {
font-family: "XanhMono";
src: url("XanhMono-Regular.ttf");
src: url("XanhMono-Regular.ttf") format("woff");
}
article {
    text-align: center;
    padding-top: 10%;
    float: right;
}
h1 {
    color: rgba(180, 210, 231, 0.7);
}
h3 {
    color: rgba(180, 210, 231, 1);
}
h4 {
  color: #E7E5DA;
}
p {
    color: #D6D6D6;
}
.tab {
    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #003c74;
    box-shadow: none;
    padding: 5px;
    background-image: linear-gradient(#5CC8FF, #ADE4FF);
    border-color: #91a7b4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.tab:hover {
      border-top: 1px solid #0267C1;
      box-shadow: inset 0px 2px 1px #0267C1;
      cursor: pointer;
}
#bodyody {
  background-color: rgba(231, 229, 218, 0.4);
}
.hidden {
  display: none;
}
.clickable {
  cursor: pointer !important;
}
#multimodal {
  float: left;
}
